:root {
  --bwein-header-color: #f47c00;
  --bwein-header-color-hover: rgba(255, 255, 255, 0.1);
  --bwein-header-invert: 0;
  --bwein-env-color: #0F1C26;
  --bwein-login-main-color: var(--bwein-main-color, #ffffff);
  --bwein-top-main-color: var(--bwein-main-color, #eaeaec);
  --bwein-title-color: #fff;
}

html[data-color-scheme="dark"] {
  --bwein-title-color: #ddd;
}

// Header title
#header h1 a {
  height: 16px;

  .app-title {
    float: left;
  }

  .custom-title {
    float: left;
    border-left: 1px solid var(--bwein-title-color);
    margin-left: 7px;
    padding-left: 7px;
    color: var(--bwein-title-color);
  }

  @media (max-width: 767px) {
    width: initial;
    text-indent: unset;
    overflow: unset;
    min-width: 22px;
    padding: 12px;

    .app-title,
    .custom-title {
      display: none;
    }
  }
}

#main .tl_login_form .custom-header {
  display: block;
  padding: 13px;
  text-align: center;
  font-size: 1rem;
  color: var(--bwein-title-color);
  background: #f47c00;
}

// Header color
#header .inner,
#main .tl_login_form .custom-header {
  background: var(--bwein-header-color);
}

#tmenu sup {
  color: var(--bwein-header-color);
}

#tl_navigation [class^="menu_level_"] > li.current > a,
#tl_navigation .menu_level_1 li.current {
  border-left-color: var(--bwein-header-color);
}

#tl_crawl .progress-bar.running,
.load_bar {
  background-color: var(--bwein-header-color);
}

#tmenu a:hover, #tmenu a.hover, #tmenu li:hover .profile button, #tmenu .active .profile button, #tmenu .burger button:hover,
#tmenu li:hover .h2, #tmenu .active .h2 {
  background-color: var(--bwein-header-color-hover);
}

a:hover, a:active,
.submit_container a:hover {
  color: var(--bwein-header-color);
}

// Header invert
#header h1 {
  z-index: 5;

  a {
    background-image: url('../icons/logo.svg');
  }
}

#header h1,
#header h1 .env-title,
#main .tl_login_form .custom-title,
#tmenu > li > a,
#tmenu > li > span,
#tmenu sup {
  filter: #{"invert(var(--bwein-header-invert))"};
}

// Env title
.env-title {
  float: right;
  margin-left: 8px;
  margin-top: -8px;
  border-radius: 8px;
  padding: 2px 5px;
  background: #0F1C26;
  color: var(--bwein-title-color);
  font-size: .75rem;
  font-weight: 600;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    font-weight: 500;
  }
}

#header h1 a {
  .env-title {
    @media (max-width: 767px) {
      margin-left: 32px;
      margin-right: -25px;
    }
  }
}

// Env color
.env-title {
  background: var(--bwein-env-color);
}

// Main color
#main {
  background: var(--bwein-login-main-color);
}

#top #main {
  background: var(--bwein-top-main-color);
}

html[data-color-scheme="dark"] {
  #main, #top #main {
    background-repeat: no-repeat;
    background-size: 10000% 100%;
    background-position-x: 10%;
  }

  #main {
    background-image: linear-gradient(90deg, black, var(--bwein-login-main-color), white);
  }

  #top #main {
    background-image: linear-gradient(90deg, black, var(--bwein-top-main-color), white);
  }
}
